In [22]:
import pandas as pd 
import numpy as np

In [23]:
minutes_velocity = pd.read_csv('../Datasets/minutes_velocity.csv')
minutes_velocity

         Minutes  Velocity
0       0.000000    1807.0
1       0.000833    1749.0
2       0.001667    1694.0
3       0.002500    1618.0
4       0.003333    1516.0
...          ...       ...
25195  20.995833  -12915.0
25196  20.996667  -13599.0
25197  20.997500  -14264.0
25198  20.998333  -14888.0
25199  20.999167  -15489.0

[25200 rows x 2 columns]

In [24]:
meadian_vel = minutes_velocity.Velocity.median()
meadian_vel

1580.5

In [25]:
mean_vel = minutes_velocity.Velocity.mean()
mean_vel

2439.972261904762

In [26]:
middle_velocites = minutes_velocity[(minutes_velocity.Velocity < mean_vel) & (minutes_velocity.Velocity > meadian_vel)]

print(middle_velocites.Velocity.min())
print(middle_velocites.Velocity.max())

1582.0
2438.0

In [27]:
def lat_to_colat(lat):
    return (90. - lat)

In [28]:
def get_alpha(lon_2, lon_1):
    return (lon_2 - lon_1)

In [29]:
def great_circle(lat_1, lon_1, lat_2, lon_2):
    # Calculate the great circle distance between two points on a globe

    # First, convert the latitudes to colatitudes
    colat_1 = lat_to_colat(lat_1)
    colat_2 = lat_to_colat(lat_2)
    # and alpha is the difference between the two longitudes
    alpha = get_alpha(lon_2, lon_1)
    # Convert degrees to radians
    colat_1, colat_2, alpha = np.radians(colat_1), np.radians(colat_2), np.radians(alpha)
    # Spherical trig:
    cosa = np.cos(colat_1) * np.cos(colat_2) + np.sin(colat_1) * np.sin(colat_2) * np.cos(alpha)

    a = np.arccos(cosa)

    return np.degrees(a)

In [34]:
# Pinyon Flat, CA
PF_lat, PF_lon = 33.3, -115.7

#Indianapolis, IN
EQ_lat, EQ_lon = 39.77, -86.15

Delta = great_circle(PF_lat, PF_lon, EQ_lat, EQ_lon)

print('Degrees separation between source and receiver: ', Delta)

Degrees separation between source and receiver:  24.48511056668808

In [38]:
print(111.1*Delta, 'kilometers')

2720.2957839590454 kilometers

In [39]:
pi = np.pi
print(pi)

3.141592653589793

In [48]:
print('Pi rounded 4 decimals is %.4f' %(pi))

Pi rounded 4 decimals is 3.1416

In [43]:
print(pi*50)

157.07963267948966

In [49]:
print('%.4e}' % (pi*50))

1.5708e+02}